/*
* Author - Austin Campbell for BYUi WDD230
* Credits - W3C Schools, and random pages for minor styling help like overflow.
* Primary -     #032149c9 (Navy Dark Blue)
* Secondary -   #1a1d1f (Charcoal Black)
* Accent1 -     #456ea2 (Light blue)
* Accent2 -     #222b31 (Dark Gray)
* Accent3 -     #58705a (Greenish)
#222b31
*/

:root {
    --wh: white;
}

/* --------------- Body Stuff -------------- */
body {
    background-color: #4f4f4f;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
/* --------------- END OF MAIN PAGE -------------- */


/* --------------- Navigation Stuff -------------- */
header {
    background-color: #222b31;
}
nav {
	background-color: #222b31;
	margin: 0 auto;
	/* max-width: 767px; */
    padding: 15px 15px;
}

nav ul {
	list-style-type: none;
}

nav a {
	display: block;
	color: var(--wh);
    font-weight: 800;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

#menu::before {
    content: "=";
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--wh);
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--wh);
    text-decoration: none;
}

li.current-menu-item a {
    background-color: #456ea2;
}

ul.navigation {
    display: none;
    list-style-type: none;
}

#menu.open::before {
    content: "x";
}

ul.navigation.open {
    display: block;
}

ul.navigation li:hover {
    background-color: #456ea2;
}

/* --------------- END OF NAVIGATION -------------- */


/* --------------- Parallax Number 1 + Hero -------------- */

.parallax {
    background-attachment: scroll;
    width: auto;
}

.hero-text {
    text-align: center;
    /* top: %; */
    left: 50%;
    transform: translate(0%, -200%);
    color: var(--wh);
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* --------------- END OF PARALLAX NUM 1 -------------- */


/* --------------- Events Section -------------- */
.events {
    background-color: #222b31;
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 10px;
}

.events-image img {
    display: block;
    padding-top: 15%;
    max-width: 100%;
    grid-column: 1/2;
}

.events-text {
    color: var(--wh);
    display: inline;
    grid-column: 2/3;
    padding-left: 10px;
    justify-items: center;
}

#events-button {
    margin-left: 35px;
    color: var(--wh);
    font-weight: 200;
    background-color: #36454f;
    border: none;
    padding: 20px;
    cursor: pointer;
}

#events-button:hover {
    background-color: #4f4f4f;
}
/* --------------- END OF EVENTS SECTION -------------- */


/* --------------- Parallax Number 2 maybe? -------------- */

.hero-text2 {
    text-align: center;
    /* top: %; */
    left: 50%;
    transform: translate(0%, -200%);
    color: var(--wh);
    font-size: 18px;
}

#become-member {
    border: none;
    cursor: pointer;
}
#become-member:hover {
    background-color: #4f4f4f;
    color: var(--wh);
}
/* --------------- END OF PARALLAX NUM 2 -------------- */


/* --------------- Spotlight box / grids -------------- */

.spotlight {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    align-content: center;
    overflow: auto;
}

.box img {
    width: 320px;
    padding-top: 15px;
    padding-left: 8%;
    /* margin-left: 5%; */

}

.box {
    color: var(--wh);
    background-color: #222b31;
    justify-self: center;
    border: solid .5px var(--wh);
    height: 450px;
    width: 375px;
}

.box h3 {
    text-align: center;
}

.box p {
    text-align: center;
    margin-left: 15px;
    max-width: 400px;
    font-weight: 200;
    font-size: 18px;
}
/* --------------- END OF PARALLAX NUM 2 -------------- */


/* --------------- Weather Section / grids -------------- */
.weather {
    background-color: #222b31;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 10px;
}

.weather h3 {
    color: white;
    padding-left: 10px;
    grid-column: 1/4;
    text-align: center;
}

.weather-card {
    color: black;
    background-color: var(--wh);
    border: solid .25px black;
    margin: 5px;
    height: 300px;
}

.weather-card h3 {
    color: black;
}
/* --------------- END OF WEATHER SECTION -------------- */


/* --------------- FOOTER SECTION -------------- */
footer {
    color: var(--wh);
    background-color: #222b31;
}

.footerinfos {
    padding: 25px;
    margin: 10px;
    text-align: center;
}

#lastModified {
    text-decoration: none;
    color: #7e9ec9;
}

#lastModified:hover {
    color: #7e9ec9;
}

/* --------------- ------------------ -------------- */
/* ------------- START OF DISCOVER PAGE ------------ */
/* --------------- ------------------ -------------- */

.columns {
    display: grid;
    grid-template-columns: 1fr;
}

.heading {
    color: var(--wh);
}


.box1 {
    background-color: #1a1d1f;
    width: 350px;
}


.centerbox {
    color: var(--wh);
}


.box1 {
    color: var(--wh);
}

.label {
    position: relative;
    top: -12px;
	background: linear-gradient(#2c2c2c, #000000);
	/* border: 1px solid rgba(7, 6, 6, 0.75); */
	padding: 1.5rem;
	box-shadow: 0 0 3rem #201b1b;
	opacity: 0.75;
    margin-top: -80px;
}

.label p {
    color: var(--wh);
	margin: 0;
	padding: .25rem;
	font-weight: 300;
	font-size: 1.5rem;
}


/* --------------- ------------------ -------------- */
/* ------------- START  OF  FORM   PAGE ------------ */
/* --------------- ------------------ -------------- */
/* -- Credit to W3Schools for the styling tips on this, taught me the correct way to style forms.. --*/



.formsa form label {
    text-align: center;
}

input[type=text], input[type=email], input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #456ea2;
    color: var(--wh);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #2f588f;
}
  
.formsa {
    background-color: #dafeff;
    padding: 20px;
    max-width: 767px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.join {
    text-align: center;
    color: var(--wh);
}


.accordion {
    background-color: #d2d2d2;
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 100%;
    /* text-align: left; */
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 8px;
}

.accordion h3 {
    font-weight: 1200;
}

.active, .accordion:hover {
    background-color: #2f588f;
    color: white;
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.main-portion {
    background-color: #d2d2d2;
    text-align: center;
    height: 250px;
    width: 60%;
    /* display:inline-flexbox; */
    margin: 0 auto;
    justify-content: center;
}

.main-portion p {
    font-size: 20px;
    font-weight: 600;
}


#populate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}