/*
* Author - Austin Campbell for BYUi WDD230
* Credits - W3C Schools, and random pages for minor styling help like overflow.
*
*/
@media screen and (min-width: 800px) {
    /* --------------- Navigation Stuff -------------- */
    nav  ul, ul.navigation, ul.navigation open{
        max-width: 100%;
        display: grid;
        grid-template-columns: 10rem 10rem 10rem 10rem;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }
    /* --------------- END OF NAVIGATION -------------- */


    /* --------------- Supposed To be for Parallax -------------- */
    body, html {
        height: 100%;
    }


    /* --------------- Parallax num 1 -------------- */

    .parallax {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        width: 100%;

        justify-items: center;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 62px;
    }

    .hero-text2 {
        text-align: center;
        position: absolute;
        margin-left: -32%;
        margin-top: 18%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    /* --------------- END OF PARALLAX NUM 1 -------------- */


    /* --------------- Events Section Stuff -------------- */
    .events {
        background-color: #222b31;
        display: grid;
        grid-template-columns: 2fr 4fr;
        padding: 10px;
    }

    .events-image img {
        display: block;
        padding-top: 0%;
        padding: 5px;
        max-width: 100%;
        grid-column: 1/2;
    }

    .events-text {
        color: white;
        display: inline;
        grid-column: 2/3;
        padding-left: 40px;
        justify-items: center;
    }

    .events-text h3 {
        font-size: 24px;
    }
    .events-text p {
        font-size: 17px;
    }

    #events-button {
        margin-left: 250px;
    }
    /* --------------- END OF EVENTS SECTION -------------- */


    /* --------------- Hero Text 2 for second parallax -------------- */
    .hero-text2 {
        text-align: center;
        transform: translate(0%, -220%);
        color: white;
        font-size: 62px;
    }

    #become-member {
        border: none;
    }

    .weather-card h3 {
        font-size: 28px;
    }

    .weather-card img {
        width: 80px;
    }

    .weather-card p {
        font-weight: 800;
        font-size: 24px;
    }
    /* --------------- END OF PARALLAX 2/HERO 2 -------------- */


    /* --------------- Spotlight box / grids -------------- */

    .spotlight {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1.5fr;
        align-content: center;
    }

    .box img {
        width: 350px;
        padding-top: 15px;
        padding-left: 10%;
        /* margin-left: 5%; */

    }

    .box {
        color: white;
        background-color: #222b31;
        justify-self: center;
        border: solid .5px white;
        height: 450px;
        width: 450px;
    }

    .box h3 {
        text-align: center;
    }

    .box p {
        text-align: center;
        margin-left: 15px;
        max-width: 400px;
        font-weight: 200;
        font-size: 18px;
    }
    /* --------------- END OF SPOTLIGHT BOXES -------------- */


    /* --------------- ------------------ -------------- */
/* ------------- START OF DISCOVER PAGE ------------ */
/* --------------- ------------------ -------------- */

    .columns {
        display: grid;
        grid-template-columns: 300px 800px 300px;
        justify-content: center;
        justify-items: center;
        /* padding: 15px; */
        /* margin: 0 auto; */
    }

    .columns h2 {
        color:#78a6e1;
    }

    .heading {
        color: white;
        text-align: center;
        margin-top: 50px;
    }

    .left {
        grid-column: 1/2;
    }

    .box1 {
        background-color: #222b31;
        max-width: 250px;
        height: 250px;
        text-align: center;
        padding: 10px;
        margin-bottom: 7px;
        font-weight: 600;
    }

    .box1 a, .box1 .color {
        text-decoration: none;
        color: #79a3da;
    }

    .box1 a:hover {
        color:aliceblue;
    }

    .box1 h2, .box1 p {
        margin-top: 38px;
    }

    .centerbox h2 {
        text-align: center;
        text-decoration: underline;
    }
    .centers {
        background-color: #222b31;
        grid-column: 2/3;
        grid-row-start: 1;
        /* max-width: fit-content; */
        border: 5px solid #222b31;
    }

    .centerbox {
        color: white;
        background-color: #222b31;
        font-size: 18px;
        padding: 12px;
        width: 800px;
    }

    .right {
        grid-column: 3/4;
    }

    .imagesidebar {
        margin-left: 60px;
        /* border: 5px solid #1a1d1f; */
    }

    .imagesidebar:hover, .box-image img:hover {
        box-shadow: 0 0 50px #8f8f8f;
    }

    .imagesidebar .lazy, .box-image .lazy {
        animation: fade 5s;
        background: #2e2e2e;
    }

    .imagesidebar img {
        border: 5px solid #222b31;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    .formsa {
        background-color: #f2f2f2;
        padding: 20px;
        max-width: 60%;
        margin-left: 20%;
        margin-top: 8px;
    }

    .accordion {
        padding: 20px;
        max-width: 62%;
        margin-left: 20%;
    }

    .main-portion {
        height: 150px;
    }


    #populate {
        grid-template-columns: 500px 500px 500px;
    }

    
}