/* Now I fully understand the useage of the :root selector. I like this a lot actually*/
:root {
    --bord: 3px solid #000000;
    --bordsmall: 1px solid #000;
    --bordrad: 5px;
}

#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 20px;
	width: 170px;
}

#rangevalues option {
	flex: 1 1 auto;
}

.recorded {
    background-color: rgb(86, 146, 86);
    text-decoration: none;
}

.formy {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    border: var(--bord);
    border-radius: var(--bordrad);
    background-color: #272727;
}

.formy label {
    color: white;
    font-weight: 600;
    font-size: 22px;
    width: 100%;
    margin-left: 8px;
}


.slider {
    grid-column: 2/3;
    color: white;
}

#rangevalue {
    color: white;
}

.button {
    grid-column: 1/3;
    width: 25%;
    cursor: pointer;
    color: white;
    background-color: rgb(90, 90, 90);
    border: none;
    border-radius: 55px;
}

.button:hover {
    background-color: #456ea2;
}

.formy .value {
    width: 270px;
    border: var(--bordsmall);
    border-radius: var(--bordrad);
}